.branding {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.125em;
  justify-content: flex-start;
  padding: 0.5rem;

  @media screen and (min-width: 32em) {
    gap: 0.5em;
  }

  @media print {
    border-width: 0.125em;
    gap: 0.5em;
    padding: 0 0.5rem 0 0;
  }

  &__title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.1;
    margin-block-end: 0;
  }

  &__link {
    border-radius: 0.25rem;

    &:link,
    &:visited {
      @media print {
        text-decoration: none;
      }
    }
  }

  &__pronouns + &__tagline {
    &::before {
      @media screen and (min-width: 32em), print {
        content: "|";
        margin-inline-end: 0.5em;
      }

      @media print {
        content: "—";
      }
    }
  }
}
