.colophon {
  padding: 1rem;

  @media screen and (min-width: 37.5em) {
    padding: 2rem;
  }

  @media print {
    border-color: var(--gray);
    border-width: 0.125em;
    padding: 0.5rem 0 0;
  }
}
