.content {
  padding: 2rem 1rem;

  &__header {
    :where(&) .beard {
      font-family: var(--font-stack-monospace);
    }
  }

  &__summary {
    font-size: 1.25em;
  }

  @media screen and (min-width: 37.5em) {
    padding: 2rem;
  }

  @media print {
    padding: 1rem 0;
  }

  :where(&) :is(h1) {
    font-size: 2em;
    max-width: 40ch;
  }

  :where(&) :is(h2) {
    font-size: 1.5em;
  }

  :where(&) :is(h3) {
    font-size: 1.25em;
  }

  :where(&) :is(h4, h5, h6) {
    font-size: 1.125em;
  }
}
