.content {
  padding: 2rem 1rem;

  @media screen and (min-width: 37.5em) {
    padding: 2rem;
  }

  @media print {
    padding: 1rem 0;
  }

  &__header {
    margin-block-end: 2rem;
  }

  :where(&) h2,
  &__title {
    background: linear-gradient(to bottom right, visitedtext, activetext);
    background-clip: text;
    font-size: 2em;
    font-weight: 700;
    margin-block-end: 0.5em;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &__summary {
    font-size: 1.25em;
  }
}

:where(.content) h3,
:where(.content) h4,
:where(.content) h5,
:where(.content) h6 {
  font-size: 1.5em;
  font-weight: 700;
  margin-block-end: 0.5em;
}
