.navigation {
  @media print {
    display: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    border-radius: 0.25rem;
    font-weight: 700;
    padding: 0.5rem;
  }
}
