.layout-resume {
  :where(&) .content__header {
    margin-block-end: 2em;

    :where(&) * + * {
      margin-block-start: 1.5em;
    }
  }

  @media print {
    a {
      text-decoration: none;
    }

    .masthead {
      &::after {
        color: linktext;
        content: "paul@pshry.com";
      }
    }

    .content__title {
      display: none;
    }

    .colophon {
      display: none;
    }
  }
}
