{%- if title %}
  <div class="branding">
    <p class="branding__title" id="branding-title">
      <a class="branding__link" href="/">{{ title | strip | strip_html }}</a>
    </p>
    {%- if pronouns %}
      <span class="branding__pronouns">({{ pronouns | join: '/' }})</span>
    {%- endif %}
    {%- if tagline %}
      <span class="branding__tagline">{{ tagline }}</span>
    {%- endif %}
  </div>
{%- endif %}
