{%- comment %}
<!--
	-- Button.
	--
	-- @since unreleased
	--
	-- @param string label         Label.
	-- @param string [link]        Link.
	-- @param string [onclick]     onclick handler.
	-- @param string [type=button] Type.
  -->
{%- endcomment %}
{%- if label %}
{%- if link %}
	<a class="button" href="{{ link }}">{{ label }}</a>
{%- else %}
	<button class="button" type="{{ type | default: 'button' }}">
		{{ label }}
	</button>
{%- endif %}
{%- endif %}
