blockquote {
  border-inline-start: 0.25em solid var(--ps-gray);
  font-family: var(--font-stack-serif);
  font-style: italic;
  padding-inline-start: 1em;

  cite {
    font-family: var(--font-stack-monospace);
    font-style: normal;
  }
}
