:root {
	/* Colors. */
	--color-gray-100: hsl(0deg 0% 0%);
	--color-gray-90: hsl(0deg 0% 9%);
	--color-gray-80: hsl(0deg 0% 18%);
	--color-gray-70: hsl(0deg 0% 27%);
	--color-gray-60: hsl(0deg 0% 36%);
	--color-gray-50: hsl(0deg 0% 45%);
	--color-gray-40: hsl(0deg 0% 54%);
	--color-gray-30: hsl(0deg 0% 63%);
	--color-gray-20: hsl(0deg 0% 72%);
	--color-gray-10: hsl(0deg 0% 81%);
	--color-gray-5: hsl(0deg 0% 90%);
	--color-gray-0: hsl(0deg 0% 100%);
	--color-indigo-100: hsl(248.57deg 53.85% 5.1%);
	--color-indigo-90: hsl(246.98deg 51.81% 16.27%);
	--color-indigo-80: hsl(247.4deg 52.52% 27.25%);
	--color-indigo-70: hsl(246.99deg 52.82% 38.24%);
	--color-indigo-60: hsl(247.22deg 52.99% 49.22%);
	--color-indigo-50: hsl(247.04deg 80.2% 60.39%);
	--color-indigo-40: hsl(247.13deg 100% 68.63%);
	--color-indigo-30: hsl(247.33deg 100% 74.31%);
	--color-indigo-20: hsl(247.13deg 100% 80.2%);
	--color-indigo-10: hsl(247.5deg 100% 85.88%);
	--color-indigo-5: hsl(247.14deg 100% 91.76%);
	--color-indigo-0: hsl(245deg 100% 97.65%);
	--color-magenta-100: hsl(316deg 65.22% 4.51%);
	--color-magenta-90: hsl(312.56deg 68.25% 12.35%);
	--color-magenta-80: hsl(313.52deg 67.62% 20.59%);
	--color-magenta-70: hsl(313.2deg 68.49% 28.63%);
	--color-magenta-60: hsl(313.13deg 68.09% 36.86%);
	--color-magenta-50: hsl(313.38deg 68.56% 44.9%);
	--color-magenta-40: hsl(313.42deg 63.87% 53.33%);
	--color-magenta-30: hsl(313.17deg 63.73% 62.16%);
	--color-magenta-20: hsl(313.26deg 63.76% 70.78%);
	--color-magenta-10: hsl(313.43deg 63.81% 79.41%);
	--color-magenta-5: hsl(312.63deg 63.33% 88.24%);
	--color-magenta-0: hsl(312deg 62.5% 96.86%);

	/* Font stacks. */
	--font-stack-cursive: cursive;
	--font-stack-fantasy: fantasy;
	--font-stack-monospace: monospace;
	--font-stack-sans-serif: sans-serif;
	--font-stack-serif: serif;

	/* Site. */
	--site-background-color: var(--color-gray-5);
	--site-text-color: var(--color-indigo-90);

	/* Hyperlinks. */
	--hyperlink-color: LinkText;
	--hyperlink-visited-color: VisitedText;
	--hyperlink-active-color: ActiveText;

	box-sizing: border-box;
	color-scheme: light dark;
	font-size-adjust: none;
	min-block-size: 100%;
	scroll-behavior: smooth;
	text-size-adjust: none;

	@media (prefers-color-scheme: dark) {
		/* Site. */
		--site-background-color: var(--color-indigo-100);
		--site-text-color: var(--color-gray-5);

		/* Hyperlinks. */
		--hyperlink-color: var(--color-indigo-20);
		--hyperlink-visited-color: var(--color-magenta-20);
		--hyperlink-active-color: ActiveText;
	}

	&:lang(en) {
		quotes: '\201c' '\201d' '\2018' '\2019'; /* “ ” ‘ ’ */
	}

	&:has(meta[name='color-scheme'][content='dark light']) {
		color-scheme: dark light;
	}
}
