---
layout: scaffold
---
<main class="content" aria-labelledby="content-title">
  {% if page_title or title %}
  <header class="content__header">
    <h1 class="content__title" id="content-title">{{ page_title | default: title | strip | strip_html }}</h1>

    <p class="content__summary">{{ description }}</p>
  </header>
  {% endif %}

  {{ content }}
</main>
